@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Targeting the entire webpage */
html,
body {
  height: 100%; /* Ensure the body takes full height */
  overflow: auto; /* Enable scrolling */
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  /* width: 5px; 
  height: 12px;  */
  display: none;
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray track */
  border-radius: 10px;
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #81a3ec; /* Gray thumb */
  border-radius: 10px;
}

/* Hover state for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker gray on hover */
}

/* Customize the corner where both scrollbars meet (if applicable) */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
